persistence:
  enabled: true

updateStrategy: 
  type: Recreate

secrets:
  htpasswd: "loki:$2y$05$bIL34SrofaBDXA401hpX0uHBnjUEvzEAuM6BJ28nyDPTuhm29e/NC"

ingress:
  enabled: true
  hosts:
    - registry.{{ .Values.clusterName }}.hack2022.ch
  tls:
  - hosts:
    - registry.{{ .Values.clusterName }}.hack2022.ch
    secretName: docker-registry-tls
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 0